*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
     /*hiển thị các khối theo chiều ngang*/
    display: flex;
    /*để sử dụng justify-content phải khai báo display flex*/
    justify-content: center;
    /*xóa đi mọi thứ tràn khỏi viền*/
    overflow: hidden;
}
.grass {
    position: absolute;
    left: -100%;
    top: -100%;
    width: 500%;
    height: 500%;
    background: url("Shadow01.png");
    transform: rotate3d(1, 0, 1, 50deg);
}
#canvas1{
    position: absolute;
    width: 1018px;
    height: 767px;
    /*border: 2px solid black;*/
}