*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    overflow: hidden;
}
.floor {
    position: absolute;
    left: -200%;
    top: -200%;
    width: 500%;
    height: 500%;
    background: url("Shadow01.png");
    transform: rotate3d(1, 0, 1, 50deg);
}
#canvas1{
    position: absolute;
    width: 1018px;
    height: 767px;
    /*border: 2px solid black;*/
    /*background: linear-gradient(to top, darkgray, darkgrey, black);*/
}